In [2]:
import pandas as pd

# import nba_api.stats.endpoints as endpoints

# # show anything with "schedule" in its name
# [x for x in dir(endpoints) ]

from nba_api.stats.endpoints import ScheduleLeagueV2
from nba_api.stats.endpoints import playergamelogs

In [3]:
sched_req = ScheduleLeagueV2(league_id="00", season="2025-26")
full_schedule = sched_req.get_data_frames()[0]
full_schedule.columns.to_list()

['leagueId',
 'seasonYear',
 'gameDate',
 'gameId',
 'gameCode',
 'gameStatus',
 'gameStatusText',
 'gameSequence',
 'gameDateEst',
 'gameTimeEst',
 'gameDateTimeEst',
 'gameDateUTC',
 'gameTimeUTC',
 'gameDateTimeUTC',
 'awayTeamTime',
 'homeTeamTime',
 'day',
 'monthNum',
 'weekNumber',
 'weekName',
 'ifNecessary',
 'seriesGameNumber',
 'gameLabel',
 'gameSubLabel',
 'seriesText',
 'arenaName',
 'arenaState',
 'arenaCity',
 'postponedStatus',
 'branchLink',
 'gameSubtype',
 'isNeutral',
 'homeTeam_teamId',
 'homeTeam_teamName',
 'homeTeam_teamCity',
 'homeTeam_teamTricode',
 'homeTeam_teamSlug',
 'homeTeam_wins',
 'homeTeam_losses',
 'homeTeam_score',
 'homeTeam_seed',
 'awayTeam_teamId',
 'awayTeam_teamName',
 'awayTeam_teamCity',
 'awayTeam_teamTricode',
 'awayTeam_teamSlug',
 'awayTeam_wins',
 'awayTeam_losses',
 'awayTeam_score',
 'awayTeam_seed',
 'pointsLeaders_0_personId',
 'pointsLeaders_0_firstName',
 'pointsLeaders_0_lastName',
 'pointsLeaders_0_teamId',
 'pointsLeaders_0_teamCity',
 'pointsLeaders_0_teamName',
 'pointsLeaders_0_teamTricode',
 'pointsLeaders_0_points',
 'pointsLeaders_1_personId',
 'pointsLeaders_1_firstName',
 'pointsLeaders_1_lastName',
 'pointsLeaders_1_teamId',
 'pointsLeaders_1_teamCity',
 'pointsLeaders_1_teamName',
 'pointsLeaders_1_teamTricode',
 'pointsLeaders_1_points',
 'pointsLeaders_2_personId',
 'pointsLeaders_2_firstName',
 'pointsLeaders_2_lastName',
 'pointsLeaders_2_teamId',
 'pointsLeaders_2_teamCity',
 'pointsLeaders_2_teamName',
 'pointsLeaders_2_teamTricode',
 'pointsLeaders_2_points',
 'nationalBroadcasters_0_broadcasterScope',
 'nationalBroadcasters_0_broadcasterMedia',
 'nationalBroadcasters_0_broadcasterId',
 'nationalBroadcasters_0_broadcasterDisplay',
 'nationalBroadcasters_0_broadcasterAbbreviation',
 'nationalBroadcasters_0_broadcasterDescription',
 'nationalBroadcasters_0_tapeDelayComments',
 'nationalBroadcasters_0_broadcasterVideoLink',
 'nationalBroadcasters_0_broadcasterTeamId',
 'nationalBroadcasters_0_broadcasterRanking',
 'nationalBroadcasters_0_localizationRegion',
 'nationalBroadcasters_1_broadcasterScope',
 'nationalBroadcasters_1_broadcasterMedia',
 'nationalBroadcasters_1_broadcasterId',
 'nationalBroadcasters_1_broadcasterDisplay',
 'nationalBroadcasters_1_broadcasterAbbreviation',
 'nationalBroadcasters_1_broadcasterDescription',
 'nationalBroadcasters_1_tapeDelayComments',
 'nationalBroadcasters_1_broadcasterVideoLink',
 'nationalBroadcasters_1_broadcasterTeamId',
 'nationalBroadcasters_1_broadcasterRanking',
 'nationalBroadcasters_1_localizationRegion',
 'nationalBroadcasters_2_broadcasterScope',
 'nationalBroadcasters_2_broadcasterMedia',
 'nationalBroadcasters_2_broadcasterId',
 'nationalBroadcasters_2_broadcasterDisplay',
 'nationalBroadcasters_2_broadcasterAbbreviation',
 'nationalBroadcasters_2_broadcasterDescription',
 'nationalBroadcasters_2_tapeDelayComments',
 'nationalBroadcasters_2_broadcasterVideoLink',
 'nationalBroadcasters_2_broadcasterTeamId',
 'nationalBroadcasters_2_broadcasterRanking',
 'nationalBroadcasters_2_localizationRegion',
 'nationalBroadcasters_3_broadcasterScope',
 'nationalBroadcasters_3_broadcasterMedia',
 'nationalBroadcasters_3_broadcasterId',
 'nationalBroadcasters_3_broadcasterDisplay',
 'nationalBroadcasters_3_broadcasterAbbreviation',
 'nationalBroadcasters_3_broadcasterDescription',
 'nationalBroadcasters_3_tapeDelayComments',
 'nationalBroadcasters_3_broadcasterVideoLink',
 'nationalBroadcasters_3_broadcasterTeamId',
 'nationalBroadcasters_3_broadcasterRanking',
 'nationalBroadcasters_3_localizationRegion',
 'nationalBroadcasters_4_broadcasterScope',
 'nationalBroadcasters_4_broadcasterMedia',
 'nationalBroadcasters_4_broadcasterId',
 'nationalBroadcasters_4_broadcasterDisplay',
 'nationalBroadcasters_4_broadcasterAbbreviation',
 'nationalBroadcasters_4_broadcasterDescription',
 'nationalBroadcasters_4_tapeDelayComments',
 'nationalBroadcasters_4_broadcasterVideoLink',
 'nationalBroadcasters_4_broadcasterTeamId',
 'nationalBroadcasters_4_broadcasterRanking',
 'nationalBroadcasters_4_localizationRegion',
 'nationalBroadcasters_5_broadcasterScope',
 'nationalBroadcasters_5_broadcasterMedia',
 'nationalBroadcasters_5_broadcasterId',
 'nationalBroadcasters_5_broadcasterDisplay',
 'nationalBroadcasters_5_broadcasterAbbreviation',
 'nationalBroadcasters_5_broadcasterDescription',
 'nationalBroadcasters_5_tapeDelayComments',
 'nationalBroadcasters_5_broadcasterVideoLink',
 'nationalBroadcasters_5_broadcasterTeamId',
 'nationalBroadcasters_5_broadcasterRanking',
 'nationalBroadcasters_5_localizationRegion',
 'nationalRadioBroadcasters_0_broadcasterScope',
 'nationalRadioBroadcasters_0_broadcasterMedia',
 'nationalRadioBroadcasters_0_broadcasterId',
 'nationalRadioBroadcasters_0_broadcasterDisplay',
 'nationalRadioBroadcasters_0_broadcasterAbbreviation',
 'nationalRadioBroadcasters_0_broadcasterDescription',
 'nationalRadioBroadcasters_0_tapeDelayComments',
 'nationalRadioBroadcasters_0_broadcasterVideoLink',
 'nationalRadioBroadcasters_0_broadcasterTeamId',
 'nationalRadioBroadcasters_0_broadcasterRanking',
 'nationalRadioBroadcasters_0_localizationRegion',
 'nationalRadioBroadcasters_1_broadcasterScope',
 'nationalRadioBroadcasters_1_broadcasterMedia',
 'nationalRadioBroadcasters_1_broadcasterId',
 'nationalRadioBroadcasters_1_broadcasterDisplay',
 'nationalRadioBroadcasters_1_broadcasterAbbreviation',
 'nationalRadioBroadcasters_1_broadcasterDescription',
 'nationalRadioBroadcasters_1_tapeDelayComments',
 'nationalRadioBroadcasters_1_broadcasterVideoLink',
 'nationalRadioBroadcasters_1_broadcasterTeamId',
 'nationalRadioBroadcasters_1_broadcasterRanking',
 'nationalRadioBroadcasters_1_localizationRegion',
 'homeTvBroadcasters_broadcasterScope',
 'homeTvBroadcasters_broadcasterMedia',
 'homeTvBroadcasters_broadcasterId',
 'homeTvBroadcasters_broadcasterDisplay',
 'homeTvBroadcasters_broadcasterAbbreviation',
 'homeTvBroadcasters_broadcasterDescription',
 'homeTvBroadcasters_tapeDelayComments',
 'homeTvBroadcasters_broadcasterVideoLink',
 'homeTvBroadcasters_broadcasterTeamId',
 'homeTvBroadcasters_broadcasterRanking',
 'homeTvBroadcasters_localizationRegion',
 'homeRadioBroadcasters_broadcasterScope',
 'homeRadioBroadcasters_broadcasterMedia',
 'homeRadioBroadcasters_broadcasterId',
 'homeRadioBroadcasters_broadcasterDisplay',
 'homeRadioBroadcasters_broadcasterAbbreviation',
 'homeRadioBroadcasters_broadcasterDescription',
 'homeRadioBroadcasters_tapeDelayComments',
 'homeRadioBroadcasters_broadcasterVideoLink',
 'homeRadioBroadcasters_broadcasterTeamId',
 'homeRadioBroadcasters_broadcasterRanking',
 'homeRadioBroadcasters_localizationRegion',
 'homeOttBroadcasters_broadcasterScope',
 'homeOttBroadcasters_broadcasterMedia',
 'homeOttBroadcasters_broadcasterId',
 'homeOttBroadcasters_broadcasterDisplay',
 'homeOttBroadcasters_broadcasterAbbreviation',
 'homeOttBroadcasters_broadcasterDescription',
 'homeOttBroadcasters_tapeDelayComments',
 'homeOttBroadcasters_broadcasterVideoLink',
 'homeOttBroadcasters_broadcasterTeamId',
 'homeOttBroadcasters_broadcasterRanking',
 'homeOttBroadcasters_localizationRegion',
 'awayTvBroadcasters_broadcasterScope',
 'awayTvBroadcasters_broadcasterMedia',
 'awayTvBroadcasters_broadcasterId',
 'awayTvBroadcasters_broadcasterDisplay',
 'awayTvBroadcasters_broadcasterAbbreviation',
 'awayTvBroadcasters_broadcasterDescription',
 'awayTvBroadcasters_tapeDelayComments',
 'awayTvBroadcasters_broadcasterVideoLink',
 'awayTvBroadcasters_broadcasterTeamId',
 'awayTvBroadcasters_broadcasterRanking',
 'awayTvBroadcasters_localizationRegion',
 'awayRadioBroadcasters_broadcasterScope',
 'awayRadioBroadcasters_broadcasterMedia',
 'awayRadioBroadcasters_broadcasterId',
 'awayRadioBroadcasters_broadcasterDisplay',
 'awayRadioBroadcasters_broadcasterAbbreviation',
 'awayRadioBroadcasters_broadcasterDescription',
 'awayRadioBroadcasters_tapeDelayComments',
 'awayRadioBroadcasters_broadcasterVideoLink',
 'awayRadioBroadcasters_broadcasterTeamId',
 'awayRadioBroadcasters_broadcasterRanking',
 'awayRadioBroadcasters_localizationRegion',
 'awayOttBroadcasters_broadcasterScope',
 'awayOttBroadcasters_broadcasterMedia',
 'awayOttBroadcasters_broadcasterId',
 'awayOttBroadcasters_broadcasterDisplay',
 'awayOttBroadcasters_broadcasterAbbreviation',
 'awayOttBroadcasters_broadcasterDescription',
 'awayOttBroadcasters_tapeDelayComments',
 'awayOttBroadcasters_broadcasterVideoLink',
 'awayOttBroadcasters_broadcasterTeamId',
 'awayOttBroadcasters_broadcasterRanking',
 'awayOttBroadcasters_localizationRegion']

['leagueId',
'seasonYear',
'gameDate',
'gameId',
'gameCode',
'gameStatus',
'gameStatusText',
'gameSequence',
'gameDateEst',
'gameTimeEst',
'gameDateTimeEst',
'gameDateUTC',
'gameTimeUTC',
'gameDateTimeUTC',
'awayTeamTime',
'homeTeamTime',
'day',
'monthNum',
'weekNumber',
'weekName',
'ifNecessary',
'seriesGameNumber',
'gameLabel',
'gameSubLabel',
'seriesText',
'arenaName',
'arenaState',
'arenaCity',
'postponedStatus',
'branchLink',
'gameSubtype',
'isNeutral',
'homeTeam_teamId',
'homeTeam_teamName',
'homeTeam_teamCity',
'homeTeam_teamTricode',
'homeTeam_teamSlug',
'homeTeam_wins',
'homeTeam_losses',
'homeTeam_score',
'homeTeam_seed',
'awayTeam_teamId',
'awayTeam_teamName',
'awayTeam_teamCity',
'awayTeam_teamTricode',
'awayTeam_teamSlug',
'awayTeam_wins',
'awayTeam_losses',
'awayTeam_score',
'awayTeam_seed',
'pointsLeaders_0_personId',
'pointsLeaders_0_firstName',
'pointsLeaders_0_lastName',
'pointsLeaders_0_teamId',
'pointsLeaders_0_teamCity',
'pointsLeaders_0_teamName',
'pointsLeaders_0_teamTricode',
'pointsLeaders_0_points',
'pointsLeaders_1_personId',
'pointsLeaders_1_firstName',
'pointsLeaders_1_lastName',
'pointsLeaders_1_teamId',
'pointsLeaders_1_teamCity',
'pointsLeaders_1_teamName',
'pointsLeaders_1_teamTricode',
'pointsLeaders_1_points',
'pointsLeaders_2_personId',
'pointsLeaders_2_firstName',
'pointsLeaders_2_lastName',
'pointsLeaders_2_teamId',
'pointsLeaders_2_teamCity',
'pointsLeaders_2_teamName',
'pointsLeaders_2_teamTricode',
'pointsLeaders_2_points',
'nationalBroadcasters_0_broadcasterScope',
'nationalBroadcasters_0_broadcasterMedia',
'nationalBroadcasters_0_broadcasterId',
'nationalBroadcasters_0_broadcasterDisplay',
'nationalBroadcasters_0_broadcasterAbbreviation',
'nationalBroadcasters_0_broadcasterDescription',
'nationalBroadcasters_0_tapeDelayComments',
'nationalBroadcasters_0_broadcasterVideoLink',
'nationalBroadcasters_0_broadcasterTeamId',
'nationalBroadcasters_0_broadcasterRanking',
'nationalBroadcasters_0_localizationRegion',
'nationalBroadcasters_1_broadcasterScope',
'nationalBroadcasters_1_broadcasterMedia',
'nationalBroadcasters_1_broadcasterId',
'nationalBroadcasters_1_broadcasterDisplay',
'nationalBroadcasters_1_broadcasterAbbreviation',
'nationalBroadcasters_1_broadcasterDescription',
'nationalBroadcasters_1_tapeDelayComments',
'nationalBroadcasters_1_broadcasterVideoLink',
'nationalBroadcasters_1_broadcasterTeamId',
'nationalBroadcasters_1_broadcasterRanking',
'nationalBroadcasters_1_localizationRegion',
'nationalBroadcasters_2_broadcasterScope',
'nationalBroadcasters_2_broadcasterMedia',
'nationalBroadcasters_2_broadcasterId',
'nationalBroadcasters_2_broadcasterDisplay',
'nationalBroadcasters_2_broadcasterAbbreviation',
'nationalBroadcasters_2_broadcasterDescription',
'nationalBroadcasters_2_tapeDelayComments',
'nationalBroadcasters_2_broadcasterVideoLink',
'nationalBroadcasters_2_broadcasterTeamId',
'nationalBroadcasters_2_broadcasterRanking',
'nationalBroadcasters_2_localizationRegion',
'nationalBroadcasters_3_broadcasterScope',
'nationalBroadcasters_3_broadcasterMedia',
'nationalBroadcasters_3_broadcasterId',
'nationalBroadcasters_3_broadcasterDisplay',
'nationalBroadcasters_3_broadcasterAbbreviation',
'nationalBroadcasters_3_broadcasterDescription',
'nationalBroadcasters_3_tapeDelayComments',
'nationalBroadcasters_3_broadcasterVideoLink',
'nationalBroadcasters_3_broadcasterTeamId',
'nationalBroadcasters_3_broadcasterRanking',
'nationalBroadcasters_3_localizationRegion',
'nationalBroadcasters_4_broadcasterScope',
'nationalBroadcasters_4_broadcasterMedia',
'nationalBroadcasters_4_broadcasterId',
'nationalBroadcasters_4_broadcasterDisplay',
'nationalBroadcasters_4_broadcasterAbbreviation',
'nationalBroadcasters_4_broadcasterDescription',
'nationalBroadcasters_4_tapeDelayComments',
'nationalBroadcasters_4_broadcasterVideoLink',
'nationalBroadcasters_4_broadcasterTeamId',
'nationalBroadcasters_4_broadcasterRanking',
'nationalBroadcasters_4_localizationRegion',
'nationalBroadcasters_5_broadcasterScope',
'nationalBroadcasters_5_broadcasterMedia',
'nationalBroadcasters_5_broadcasterId',
'nationalBroadcasters_5_broadcasterDisplay',
'nationalBroadcasters_5_broadcasterAbbreviation',
'nationalBroadcasters_5_broadcasterDescription',
'nationalBroadcasters_5_tapeDelayComments',
'nationalBroadcasters_5_broadcasterVideoLink',
'nationalBroadcasters_5_broadcasterTeamId',
'nationalBroadcasters_5_broadcasterRanking',
'nationalBroadcasters_5_localizationRegion',
'nationalRadioBroadcasters_0_broadcasterScope',
'nationalRadioBroadcasters_0_broadcasterMedia',
'nationalRadioBroadcasters_0_broadcasterId',
'nationalRadioBroadcasters_0_broadcasterDisplay',
'nationalRadioBroadcasters_0_broadcasterAbbreviation',
'nationalRadioBroadcasters_0_broadcasterDescription',
'nationalRadioBroadcasters_0_tapeDelayComments',
'nationalRadioBroadcasters_0_broadcasterVideoLink',
'nationalRadioBroadcasters_0_broadcasterTeamId',
'nationalRadioBroadcasters_0_broadcasterRanking',
'nationalRadioBroadcasters_0_localizationRegion',
'nationalRadioBroadcasters_1_broadcasterScope',
'nationalRadioBroadcasters_1_broadcasterMedia',
'nationalRadioBroadcasters_1_broadcasterId',
'nationalRadioBroadcasters_1_broadcasterDisplay',
'nationalRadioBroadcasters_1_broadcasterAbbreviation',
'nationalRadioBroadcasters_1_broadcasterDescription',
'nationalRadioBroadcasters_1_tapeDelayComments',
'nationalRadioBroadcasters_1_broadcasterVideoLink',
'nationalRadioBroadcasters_1_broadcasterTeamId',
'nationalRadioBroadcasters_1_broadcasterRanking',
'nationalRadioBroadcasters_1_localizationRegion',
'homeTvBroadcasters_broadcasterScope',
'homeTvBroadcasters_broadcasterMedia',
'homeTvBroadcasters_broadcasterId',
'homeTvBroadcasters_broadcasterDisplay',
'homeTvBroadcasters_broadcasterAbbreviation',
'homeTvBroadcasters_broadcasterDescription',
'homeTvBroadcasters_tapeDelayComments',
'homeTvBroadcasters_broadcasterVideoLink',
'homeTvBroadcasters_broadcasterTeamId',
'homeTvBroadcasters_broadcasterRanking',
'homeTvBroadcasters_localizationRegion',
'homeRadioBroadcasters_broadcasterScope',
'homeRadioBroadcasters_broadcasterMedia',
'homeRadioBroadcasters_broadcasterId',
'homeRadioBroadcasters_broadcasterDisplay',
'homeRadioBroadcasters_broadcasterAbbreviation',
'homeRadioBroadcasters_broadcasterDescription',
'homeRadioBroadcasters_tapeDelayComments',
'homeRadioBroadcasters_broadcasterVideoLink',
'homeRadioBroadcasters_broadcasterTeamId',
'homeRadioBroadcasters_broadcasterRanking',
'homeRadioBroadcasters_localizationRegion',
'homeOttBroadcasters_broadcasterScope',
'homeOttBroadcasters_broadcasterMedia',
'homeOttBroadcasters_broadcasterId',
'homeOttBroadcasters_broadcasterDisplay',
'homeOttBroadcasters_broadcasterAbbreviation',
'homeOttBroadcasters_broadcasterDescription',
'homeOttBroadcasters_tapeDelayComments',
'homeOttBroadcasters_broadcasterVideoLink',
'homeOttBroadcasters_broadcasterTeamId',
'homeOttBroadcasters_broadcasterRanking',
'homeOttBroadcasters_localizationRegion',
'awayTvBroadcasters_broadcasterScope',
'awayTvBroadcasters_broadcasterMedia',
'awayTvBroadcasters_broadcasterId',
'awayTvBroadcasters_broadcasterDisplay',
'awayTvBroadcasters_broadcasterAbbreviation',
'awayTvBroadcasters_broadcasterDescription',
'awayTvBroadcasters_tapeDelayComments',
'awayTvBroadcasters_broadcasterVideoLink',
'awayTvBroadcasters_broadcasterTeamId',
'awayTvBroadcasters_broadcasterRanking',
'awayTvBroadcasters_localizationRegion',
'awayRadioBroadcasters_broadcasterScope',
'awayRadioBroadcasters_broadcasterMedia',
'awayRadioBroadcasters_broadcasterId',
'awayRadioBroadcasters_broadcasterDisplay',
'awayRadioBroadcasters_broadcasterAbbreviation',
'awayRadioBroadcasters_broadcasterDescription',
'awayRadioBroadcasters_tapeDelayComments',
'awayRadioBroadcasters_broadcasterVideoLink',
'awayRadioBroadcasters_broadcasterTeamId',
'awayRadioBroadcasters_broadcasterRanking',
'awayRadioBroadcasters_localizationRegion',
'awayOttBroadcasters_broadcasterScope',
'awayOttBroadcasters_broadcasterMedia',
'awayOttBroadcasters_broadcasterId',
'awayOttBroadcasters_broadcasterDisplay',
'awayOttBroadcasters_broadcasterAbbreviation',
'awayOttBroadcasters_broadcasterDescription',
'awayOttBroadcasters_tapeDelayComments',
'awayOttBroadcasters_broadcasterVideoLink',
'awayOttBroadcasters_broadcasterTeamId',
'awayOttBroadcasters_broadcasterRanking',
'awayOttBroadcasters_localizationRegion']

In [4]:
cleaned_schedule = full_schedule[['leagueId', 'seasonYear', 'gameId', 'gameDateEst', 'gameTimeEst', 'weekNumber', 'monthNum', 'homeTeam_teamId', 'awayTeam_teamId']]
pd.DataFrame(cleaned_schedule)
cleaned_schedule['gameDateEst'] = pd.to_datetime(cleaned_schedule['gameDateEst']).dt.date
cleaned_schedule

/var/folders/cs/j8zp0cms6vq0cmpk_cyy1kn00000gn/T/ipykernel_39180/570004025.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_schedule['gameDateEst'] = pd.to_datetime(cleaned_schedule['gameDateEst']).dt.date

,leagueId,seasonYear,gameId,gameDateEst,gameTimeEst,weekNumber,monthNum,homeTeam_teamId,awayTeam_teamId
0,00,2025-26,0012500008,2025-10-02,1900-01-01T12:00:00Z,0,10,1610612752,1610612755
1,00,2025-26,0012500001,2025-10-03,1900-01-01T22:00:00Z,0,10,1610612747,1610612756
2,00,2025-26,0012500009,2025-10-03,1900-01-01T05:30:00Z,0,10,1610612740,15016
3,00,2025-26,0012500010,2025-10-04,1900-01-01T11:00:00Z,0,10,1610612755,1610612752
4,00,2025-26,0012500011,2025-10-04,1900-01-01T23:00:00Z,0,10,1610612740,50013
...,...,...,...,...,...,...,...,...,...
1311,00,2025-26,0042500403,2026-06-08,1900-01-01T20:30:00Z,34,6,0,0
1312,00,2025-26,0042500404,2026-06-10,1900-01-01T20:30:00Z,34,6,0,0
1313,00,2025-26,0042500405,2026-06-13,1900-01-01T20:30:00Z,34,6,0,0
1314,00,2025-26,0042500406,2026-06-16,1900-01-01T20:30:00Z,35,6,0,0
1315,00,2025-26,0042500407,2026-06-19,1900-01-01T20:30:00Z,35,6,0,0

In [20]:
# Convert column to date objects
cleaned_schedule['gameDateEst'] = pd.to_datetime(cleaned_schedule['gameDateEst']).dt.date

# Convert today to a date object
today_date = pd.Timestamp.today().date()

# Now the filter will work
# todays_schedule = cleaned_schedule[cleaned_schedule['gameDateEst'] == today_date]
todays_schedule = full_schedule.loc[full_schedule["gameDateEst"] == today_date].copy(deep=True)

todays_schedule

/var/folders/cs/j8zp0cms6vq0cmpk_cyy1kn00000gn/T/ipykernel_36347/3480225592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_schedule['gameDateEst'] = pd.to_datetime(cleaned_schedule['gameDateEst']).dt.date

Empty DataFrame
Columns: [leagueId, seasonYear, gameDate, gameId, gameCode, gameStatus, gameStatusText, gameSequence, gameDateEst, gameTimeEst, gameDateTimeEst, gameDateUTC, gameTimeUTC, gameDateTimeUTC, awayTeamTime, homeTeamTime, day, monthNum, weekNumber, weekName, ifNecessary, seriesGameNumber, gameLabel, gameSubLabel, seriesText, arenaName, arenaState, arenaCity, postponedStatus, branchLink, gameSubtype, isNeutral, homeTeam_teamId, homeTeam_teamName, homeTeam_teamCity, homeTeam_teamTricode, homeTeam_teamSlug, homeTeam_wins, homeTeam_losses, homeTeam_score, homeTeam_seed, awayTeam_teamId, awayTeam_teamName, awayTeam_teamCity, awayTeam_teamTricode, awayTeam_teamSlug, awayTeam_wins, awayTeam_losses, awayTeam_score, awayTeam_seed, pointsLeaders_0_personId, pointsLeaders_0_firstName, pointsLeaders_0_lastName, pointsLeaders_0_teamId, pointsLeaders_0_teamCity, pointsLeaders_0_teamName, pointsLeaders_0_teamTricode, pointsLeaders_0_points, pointsLeaders_1_personId, pointsLeaders_1_firstName, pointsLeaders_1_lastName, pointsLeaders_1_teamId, pointsLeaders_1_teamCity, pointsLeaders_1_teamName, pointsLeaders_1_teamTricode, pointsLeaders_1_points, pointsLeaders_2_personId, pointsLeaders_2_firstName, pointsLeaders_2_lastName, pointsLeaders_2_teamId, pointsLeaders_2_teamCity, pointsLeaders_2_teamName, pointsLeaders_2_teamTricode, pointsLeaders_2_points, nationalBroadcasters_0_broadcasterScope, nationalBroadcasters_0_broadcasterMedia, nationalBroadcasters_0_broadcasterId, nationalBroadcasters_0_broadcasterDisplay, nationalBroadcasters_0_broadcasterAbbreviation, nationalBroadcasters_0_broadcasterDescription, nationalBroadcasters_0_tapeDelayComments, nationalBroadcasters_0_broadcasterVideoLink, nationalBroadcasters_0_broadcasterTeamId, nationalBroadcasters_0_broadcasterRanking, nationalBroadcasters_0_localizationRegion, nationalBroadcasters_1_broadcasterScope, nationalBroadcasters_1_broadcasterMedia, nationalBroadcasters_1_broadcasterId, nationalBroadcasters_1_broadcasterDisplay, nationalBroadcasters_1_broadcasterAbbreviation, nationalBroadcasters_1_broadcasterDescription, nationalBroadcasters_1_tapeDelayComments, nationalBroadcasters_1_broadcasterVideoLink, nationalBroadcasters_1_broadcasterTeamId, nationalBroadcasters_1_broadcasterRanking, nationalBroadcasters_1_localizationRegion, nationalBroadcasters_2_broadcasterScope, nationalBroadcasters_2_broadcasterMedia, nationalBroadcasters_2_broadcasterId, nationalBroadcasters_2_broadcasterDisplay, ...]
Index: []

[0 rows x 228 columns]

In [5]:
clusters = pd.read_parquet('../data/jan21clusters.parquet')

clusters = clusters[["TEAM_ID", "cluster"]]
clusters

       TEAM_ID  cluster
0   1610612737        1
1   1610612738        2
2   1610612751        4
3   1610612766        0
4   1610612741        1
5   1610612739        0
6   1610612742        0
7   1610612743        0
8   1610612765        2
9   1610612744        4
10  1610612745        0
11  1610612754        3
12  1610612746        4
13  1610612747        4
14  1610612763        1
15  1610612748        1
16  1610612749        4
17  1610612750        0
18  1610612740        1
19  1610612752        2
20  1610612760        2
21  1610612753        0
22  1610612755        0
23  1610612756        4
24  1610612757        0
25  1610612758        3
26  1610612759        0
27  1610612761        1
28  1610612762        1
29  1610612764        3

In [6]:
from nba_api.stats.static import teams as nba_teams
teams = nba_teams.get_teams()
teams_df = pd.DataFrame(teams)

In [7]:
teams_revised = teams_df[['full_name', 'id', 'abbreviation']]
teams_revised

                 full_name          id abbreviation
0            Atlanta Hawks  1610612737          ATL
1           Boston Celtics  1610612738          BOS
2      Cleveland Cavaliers  1610612739          CLE
3     New Orleans Pelicans  1610612740          NOP
4            Chicago Bulls  1610612741          CHI
5         Dallas Mavericks  1610612742          DAL
6           Denver Nuggets  1610612743          DEN
7    Golden State Warriors  1610612744          GSW
8          Houston Rockets  1610612745          HOU
9     Los Angeles Clippers  1610612746          LAC
10      Los Angeles Lakers  1610612747          LAL
11              Miami Heat  1610612748          MIA
12         Milwaukee Bucks  1610612749          MIL
13  Minnesota Timberwolves  1610612750          MIN
14           Brooklyn Nets  1610612751          BKN
15         New York Knicks  1610612752          NYK
16           Orlando Magic  1610612753          ORL
17          Indiana Pacers  1610612754          IND
18      Philadelphia 76ers  1610612755          PHI
19            Phoenix Suns  1610612756          PHX
20  Portland Trail Blazers  1610612757          POR
21        Sacramento Kings  1610612758          SAC
22       San Antonio Spurs  1610612759          SAS
23   Oklahoma City Thunder  1610612760          OKC
24         Toronto Raptors  1610612761          TOR
25               Utah Jazz  1610612762          UTA
26       Memphis Grizzlies  1610612763          MEM
27      Washington Wizards  1610612764          WAS
28         Detroit Pistons  1610612765          DET
29       Charlotte Hornets  1610612766          CHA

In [8]:
merged_df = pd.merge(clusters, teams_revised, left_on='TEAM_ID', right_on='id').drop(columns=['id'])

In [10]:
merged_df = merged_df.copy(deep=True)
merged_df

       TEAM_ID  cluster               full_name abbreviation
0   1610612737        1           Atlanta Hawks          ATL
1   1610612738        2          Boston Celtics          BOS
2   1610612751        4           Brooklyn Nets          BKN
3   1610612766        0       Charlotte Hornets          CHA
4   1610612741        1           Chicago Bulls          CHI
5   1610612739        0     Cleveland Cavaliers          CLE
6   1610612742        0        Dallas Mavericks          DAL
7   1610612743        0          Denver Nuggets          DEN
8   1610612765        2         Detroit Pistons          DET
9   1610612744        4   Golden State Warriors          GSW
10  1610612745        0         Houston Rockets          HOU
11  1610612754        3          Indiana Pacers          IND
12  1610612746        4    Los Angeles Clippers          LAC
13  1610612747        4      Los Angeles Lakers          LAL
14  1610612763        1       Memphis Grizzlies          MEM
15  1610612748        1              Miami Heat          MIA
16  1610612749        4         Milwaukee Bucks          MIL
17  1610612750        0  Minnesota Timberwolves          MIN
18  1610612740        1    New Orleans Pelicans          NOP
19  1610612752        2         New York Knicks          NYK
20  1610612760        2   Oklahoma City Thunder          OKC
21  1610612753        0           Orlando Magic          ORL
22  1610612755        0      Philadelphia 76ers          PHI
23  1610612756        4            Phoenix Suns          PHX
24  1610612757        0  Portland Trail Blazers          POR
25  1610612758        3        Sacramento Kings          SAC
26  1610612759        0       San Antonio Spurs          SAS
27  1610612761        1         Toronto Raptors          TOR
28  1610612762        1               Utah Jazz          UTA
29  1610612764        3      Washington Wizards          WAS

In [17]:
# Create two mapping dictionaries
cluster_map = dict(zip(merged_df['TEAM_ID'], merged_df['cluster']))
name_map = dict(zip(merged_df['TEAM_ID'], merged_df['full_name']))

# Map them to your schedule
todays_schedule['home_team_cluster'] = todays_schedule['homeTeam_teamId'].map(cluster_map)
todays_schedule['away_team_cluster'] = todays_schedule['awayTeam_teamId'].map(cluster_map)

todays_schedule['home_team_name'] = todays_schedule['homeTeam_teamId'].map(name_map)
todays_schedule['away_team_name'] = todays_schedule['awayTeam_teamId'].map(name_map)

/var/folders/cs/j8zp0cms6vq0cmpk_cyy1kn00000gn/T/ipykernel_36347/3094217660.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  todays_schedule['home_team_cluster'] = todays_schedule['homeTeam_teamId'].map(cluster_map)
/var/folders/cs/j8zp0cms6vq0cmpk_cyy1kn00000gn/T/ipykernel_36347/3094217660.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  todays_schedule['away_team_cluster'] = todays_schedule['awayTeam_teamId'].map(cluster_map)
/var/folders/cs/j8zp0cms6vq0cmpk_cyy1kn00000gn/T/ipykernel_36347/3094217660.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  todays_schedule['home_team_name'] = todays_schedule['homeTeam_teamId'].map(name_map)
/var/folders/cs/j8zp0cms6vq0cmpk_cyy1kn00000gn/T/ipykernel_36347/3094217660.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  todays_schedule['away_team_name'] = todays_schedule['awayTeam_teamId'].map(name_map)

In [18]:
todays_schedule

,leagueId,seasonYear,gameId,gameDateEst,gameTimeEst,weekNumber,monthNum,homeTeam_teamId,awayTeam_teamId,home_team_cluster,away_team_cluster,home_team_name,away_team_name
720,00,2025-26,0022500620,2026-01-21,1900-01-01T19:00:00Z,14,1,1610612766,1610612739,0,0,Charlotte Hornets,Cleveland Cavaliers
721,00,2025-26,0022500621,2026-01-21,1900-01-01T19:30:00Z,14,1,1610612738,1610612754,2,3,Boston Celtics,Indiana Pacers
722,00,2025-26,0022500622,2026-01-21,1900-01-01T19:30:00Z,14,1,1610612752,1610612751,2,4,New York Knicks,Brooklyn Nets
723,00,2025-26,0022500623,2026-01-21,1900-01-01T20:00:00Z,14,1,1610612763,1610612737,1,1,Memphis Grizzlies,Atlanta Hawks
724,00,2025-26,0022500624,2026-01-21,1900-01-01T20:00:00Z,14,1,1610612740,1610612765,1,2,New Orleans Pelicans,Detroit Pistons
725,00,2025-26,0022500625,2026-01-21,1900-01-01T21:30:00Z,14,1,1610612749,1610612760,4,2,Milwaukee Bucks,Oklahoma City Thunder
726,00,2025-26,0022500626,2026-01-21,1900-01-01T22:00:00Z,14,1,1610612758,1610612761,3,1,Sacramento Kings,Toronto Raptors

### Above schedlue card with team ids and clusters

#### now its time to download all game logs for everyplayer in the nba, filter columns needed

In [ ]:
raw = playergamelogs.PlayerGameLogs(
    season_nullable="2025-26",
    season_type_nullable="Regular Season"
).get_data_frames()[0]

raw

In [16]:
raw.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['SEASON_YEAR', 'PLAYER_ID', 'PLAYER_NAME', 'NICKNAME', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP',
       'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM',
       'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK',
       'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'NBA_FANTASY_PTS', 'DD2',
       'TD3', 'WNBA_FANTASY_PTS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK',
       'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK',
       'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK',
       'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK',
       'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK',
       'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK', 'DD2_RANK', 'TD3_RANK',
       'WNBA_FANTASY_PTS_RANK', 'AVAILABLE_FLAG', 'MIN_SEC', 'TEAM_COUNT'],
      dtype='str')>